<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wash machine App!</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <!-- Wash machine <strong>App!</strong> -->
      Historial de servicios
    </ion-title>
    <!-- <ion-buttons end> -->
    <!-- <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
       -->
    <!-- <button ion-button tappable (click)="createRent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <br>
      Valor a pagar: ${{item.price}}
      <br>
      Estado: Confirmado
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>

  <ion-fab bottom right>
    <button ion-fab (click)='createRent()'>
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>

</ion-content>